.text_overflow {
    width: 350px;
    height:1.2em;
    white-space: nowrap;
    border:1px solid black;
    overflow:hidden;
    text-overflow: ellipsis;
}
.word_wrap {
    border: 1px solid black;
    width: 130px;
    
}














